@model LoginFormModel
@{
    ViewData["Title"] = "SignIn";
}

<section class="main">
    <img id="img" src="https://www.student-complete.com/public/assets/images/banner01.jpg" alt="">
    <div class="main-box">
        <header class="header d-flex1">
            <a style="color: green;" id="login" asp-action="SignIn">Giriş</a>
            <a id="register" asp-action="register">Qeydiyyat</a>
        </header>
        <div class="card-front">
            <div class="text-center">
                <h4>Giriş</h4>
                <img src="https://www.freeiconspng.com/thumbs/graduation-cap/high-resolution-graduation-cap-png-icon-17.png" alt="">
            </div>
            @if (!Html.ViewData.ModelState.IsValid)
            {
                <div class="form-group mb-3">
                    <div asp-validation-summary="All" class="alert alert-danger text-white">
                    </div>
                </div>
            }

            @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
            {
                <div class="form-group mb-3">
                    <div class="alert alert-danger text-white">
                        @ViewBag.Message
                    </div>
                </div>
            }
            <form asp-action="SignIn" method="post" class="inputs">
                <input asp-for="Email" id="email" placeholder="Emailinizi daxil edin:">
                <input asp-for="Password" id="sifre" placeholder="Şifrənizi daxil edin:">
                <button type="submit">Daxil Et</button>
            </form>
        </div>
    </div>
</section>

@section css{
    <link href="~/assets/styles/login.css" rel="stylesheet" />
}
